.profile__name {
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 18px;
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767.98px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
    text-align: center;
    margin-right: 10px;
    max-width: 189px;
  }
}
