.popup__container {
  position: relative;
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 510.98px) {
  .popup__container {
    padding: 25px 22px;
    height: 322px;
    width: 282px;
  }
}