.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 0;
  border-bottom: 1px solid;
  border-color: rgba(84,84,84,0.7);
  box-sizing: border-box;
}

@media screen and (max-width: 917.98px) {
  .header {
    padding: 0 27px;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    margin-top: 28px;
    min-height: 56px;
  }
}
