.profile__add {
  width: 150px;
  height: 50px;
  padding: 0;
  border: 2px solid white;
  background: url(../../../images/add.svg) center center no-repeat;
  cursor: pointer;
  border-radius: 2px;
  transition: opacity 0.2s;
}

.profile__add:hover {
  opacity: 60%;
}

@media screen and (max-width: 767.98px) {
  .profile__add {
    width: 100%;
    background: url(../../../images/add-small.svg) center center no-repeat;
  }
}
