.profile__name-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .profile__name-block {
    justify-content: center;
  }  
}
